<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div *ngIf="(mode$ | async) == 0" style="padding-left:10px">
  <form>
    <label>Work Timer</label><br>
    <input #worktime type="number" ngModel> minutes<br>
    <label>Break Timer</label><br>
    <input #breaktime type="number" ngModel> minutes<br>
  </form><br>
  <button (click)="start(worktime.value, breaktime.value)" class="btn btn-primary">Start Pomodoro!</button><br>
</div>
<div *ngIf="(mode$ | async) >= 1" style="font-size:200%; padding-top:50px; padding-left:10px">
  {{(mode$ | async) == 1 ? "work" : "break"}} time left: {{timeString}}
  <br><br><button (click)="stop()" class="btn btn-primary">Stop Pomodoro!</button><br>
</div>
Country:
Language List:
<ul *ngFor="let entry of data | async">
  name: {{entry.name}}
</ul>
<clr-alerts>
  <clr-alert *ngFor="let message of alerts" [clrAlertType]="'warning'">
    <clr-alert-item>
      <span class="alert-text">
        {{message}}
      </span>
    </clr-alert-item>
  </clr-alert>
</clr-alerts>