<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div *ngIf="!active">
  <form>
    <label>Work Timer</label><br>
    <input #worktime type="number" ngModel> minutes<br>
    <label>Break Timer</label><br>
    <input #breaktime type="number" ngModel> minutes<br>
  </form><br>
  <button (click)="start(worktime.value, breaktime.value)">Start Pomodoro!</button><br>
</div>
<div *ngIf="active">
  {{work ? "work" : "break"}} time left: {{timeString}}
  <br><br><button (click)="stop()">Stop Pomodoro!</button><br>
</div>